.Feed {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;   
  }

  .Feed >h1{
    font-family: fantasy;
  }
  
  .cancel {
    width: 100px;
    margin-top: 40px;
  }
  
  .table {
    width: 50%;
  }

  .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
    padding: 1;
    height: auto;
    border-radius: 12px;
    margin: 10px;
    border: 1px solid slategray;
    box-shadow: 1px 1px 12px 1px lightslategray;
    text-transform: capitalize;
    background-color: black;
}

.cardIndex {
  padding: 1;
  background-color: whitesmoke;
  height: auto;
  border-radius: 12px;
  margin: 10px;
  border: 1px solid slategray;
  box-shadow: 1px 1px 12px 1px lightslategray;
}
