.Feed {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
    height:auto;
    width: 50%;
  }
  
  .cancel {
    width: 100px;
    margin-top: 40px;
  }
  
  .table {
    width: 50%;
  }

  .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 12px;
    margin: 10px;
    border: 1px solid slategray;
    box-shadow: 1px 1px 12px 1px lightslategray;
    font-size: 30px;
}

.card:hover {
    box-shadow: 1px 1px 15px 1px var(--shadow-gray-dark);
}