.Feed {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .cancel {
    width: 100px;
    margin-top: 40px;
  }
  
  .table {
    width: 380px;
  }

  .card {
    width: 300px;
    height: 150px;
    border-radius: 12px;
    margin: 10px;
    border: 1px solid var(--primary-brand-color);
    box-shadow: 1px 1px 12px 1px var(--shadow-gray-light);
    font-size: 30px;
    text-transform: capitalize;
}

.card:hover {
    box-shadow: 1px 1px 15px 1px var(--shadow-gray-dark);
}

#collection {
    flex-wrap: wrap;
}

.outline {
    border: 1px dotted var(--secondary-brand-color);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}