* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Page > h1 {
  margin-bottom: 50px;
}

.feed > h1 {
  margin-bottom: 10px;
}

/* ********** unAuth LoginPage********** */
.home-btn-login {
  display: flex;
  justify-content: center ;
  background-color: lightgray;
  border-radius: 8px;
  /* border: 4px double #cccccc; */
  color: slategrey;
  text-align: center;
  font-size: 12px;
}

.home-btn-login:hover  {
  display: flex;
  justify-content: center ;
  background-color: lightseagreen;
  border-radius: 8px;
  /* border: 4px double #cccccc; */
  color: whitesmoke;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  text-decoration: black;
}

.form-control:hover{
  text-decoration: green;
}